nav li {
    display: inline;

}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
    h1 {
      font-size:45px
      text-align: center;
      
}
  
h1 img {
    width: 60%;
    height: 360px;
    box-shadow: 3px 3px 20px 7px;
    margin-left: 210px;
}
   h2 { 
  font-size: 50px;
    text-align: center;

        
}
 h2 img {
     width: 30%;
    height: 386px;
    margin-left: 522px;

}
